body {
  text-align: center;
  background-color: #80c3e0;
  font-family: Arial, sans-serif;
  margin: 2rem;
  
}

h1 {
  color: #0078D4; /* Azure blue */
}

form {
  margin-top: 1rem;
}

button {
  background-color: #000000;
  color: rgb(235, 235, 2);
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover {
  background-color: #0b0f12;
}

img {
  margin-top: 20px;
  max-width: 150px; /* keeps logo neat */
  }
  
  h1{
    text-align: center;
    color: rgb(255, 0, 0);

    font-weight: 900;

    letter-spacing: 8px;

    font-size: 300%;

    font-family: Georgia ,Papyrus, aerial, aerialblack, sans-serif, monospace;
   
}

main {
     text-align: center;

     line-height: 2.00;

     font-family: Papyrus, Georgia, 'Times New Roman', Times, serif;

     font-weight: bold;
}

h4{
    text-align: center;
    color: rgb(0, 0, 0);
    
    text-decoration: double underline;

    letter-spacing: 2px;

    font-family: Tahoma ,century ,Arial, Helvetica, sans-serif;
}
